{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('main.create_author') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Add a new author</legend>

        {{ form.name.label }}
        {{ form.name }}

        {{ form.biography.label }}
        {{ form.biography }}

        {{ form.birth_date.label }}
        {{ form.birth_date }}

        {{ form.country.label }}
        {{ form.country }}

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}
